
<app-header></app-header>
<router-outlet></router-outlet>










































<!-- <h1>Types with Signal</h1> 
<h1>{{data()}}</h1>

<button (click)="updateValue()">Update</button> -->
<!-- <h4>{{count()}}</h4> -->

<!-- <h1>{{users[0]}}</h1>
<h1>{{users[1]}}</h1>
<h1>{{users[2]}}</h1>
<h1>{{users[3]}}</h1> -->








<!-- <div>
    <h3 class="count">{{count}}</h3>
    <div>
        <button (click)="handleCounter('minus')"  class="btn bg-red">Decrement</button>
        <button (click)="handleCounter('reset')"  class="btn bg-black">Reset</button>
        <button (click)="handleCounter('plus')" class="btn bg-green">Increment</button>
    </div>
</div> -->
<!-- <h1>Interpolation in Angular</h1> -->
<!-- <h2>{{data+data2}}</h2> -->
<!-- {{name}} -->
<!-- <h1>{{20+10}}</h1>
 <h2>{{'hello'.toUpperCase()}}</h2>
 <h3>{{10==10}}</h3>
 <h2>{{data==data2}}</h2>
 <h1>{{user1.toUpperCase()}}</h1>
 <h1>{{user1==user2}}</h1>
<router-outlet /> -->

<!-- <h1>Angular Component</h1>
<app-login></app-login> -->
<!-- <app-signup></app-signup> -->
<!-- <signup></signup>
<app-profile></app-profile> -->

<!-- <button (click)="otherFunction()">Click me</button> -->
<!-- <h1>Define Data Type</h1>
 <button (click)="sum(100,20)">Sum</button> -->
<!-- <h1>Get and Set Input field Value</h1>
<h2>{{username}}</h2>
<input value="{{username}}" 
(input)="getUserName($event)" 
type="text" 
#userNameField
placeholder="eneter user name">
<br><br>
<button (click)="setUserName()">Set User name</button>
<button (click)="getUserNameWithTemplate(userNameField.value)">Get User name</button>
<button (click)="setUserName()">Set User name</button>
 -->
<!-- <style>
    h2{
        color: orange;
        background-color: #000;
    }

</style>
<hr>
<app-user></app-user>
<hr>
<h1>Style Rules and Option</h1>
<app-profile></app-profile>
<h1>Heading 2</h1>
<h2>Heading Tag 2</h2>
<h2>Apple</h2>
<h3 style="background-color: gold; color: #000; font-size: 50px;">This is Heading 3</h3> -->

<!-- <h1>If Else | Control Flow</h1> -->
<!-- @if(val==10){

<div style="background-color: orange; height: 200px; width: 200px;">

</div>
} -->

<!-- <button (click)="hide()">Hide</button>
<button (click)="show()">Show</button>
<button (click)="toggle()">Toggle</button>
<button (click)="toggle()"> {{
    display? 'hide':'show' }} </button>
@if(display){

<div style="background-color: green; height: 200px; width: 200px;">

</div>
}

<hr>
<button (click)="toggleDivs()">Toggle Divs</button>
@if(displayOneDiv){
<div style="background-color: blue; width: 100px; height: 100px;">

</div>
}
@else{
<div style="background-color: red; width: 100px; height: 100px;">

</div>
} -->


<!-- <h1>Switch Case in Angular 19</h1>
<button (click)="handlColor('red')">Red</button>
<button (click)="handlColor('green')">Green</button>
<button (click)="handlColor('yellow')">Yellow</button>
<button (click)="handlColor('blue')">Blue</button>

<input type="text" placeholder="Enter color" (input)="changeColor($event)">


@switch(color){
@case('red'){
<h1 style="background-color: red;">Red color</h1>
}

@case('blue'){
<h1 style="background-color: blue;">Blue color</h1>
}

@case('yellow'){
<h1 style="background-color: yellow;">Yellow color</h1>
}

@case('green'){
<h1 style="background-color: green;">Green color</h1>
}@default {
    <h1 style="background-color: black; color: white;">No color Match</h1>
}

} -->


<!-- <h1>For Loop in Angular 19</h1>

@for (user of users; track user) {
    <h2> {{user}} </h2>
}
<hr>
@for (student of students; track student.name; let id=$index) {
    <h2>
        <span>{{id+1}}</span>
        <span>{{student.name}}</span>
        <span>{{student.age}}</span>
        <span>{{student.email}}</span>
        <button (click)="getName(student.name)">Get Name</button>
    </h2>
} -->

<!-- <h1>Event in Angular 19</h1> 
<button class="btn" name="login" (click)="handleEvent($event)">Click on Button</button>
<br><br>
<div (mouseenter)="handleEvent($event)" 
style="background-color: green; height: 100px; width: 100px;">
     
</div>



<div ((mouseleave))="handleEvent($event)" 
style="background-color: red; height: 100px; width: 100px;">
     
</div>
<br><br>
<input (blur)="handleEvent($event)" (focus)="handleEvent($event)" (input)="handleEvent($event)" type="text" name="user"> -->


<!-- <h1>{{data}}</h1> -->
<!-- <button (click)="updateValue('dec')">Decreament</button>
<h2>{{count()}}</h2>
<button (click)="updateValue('inc')">Increament</button> -->
<!-- <h1>Basic Of Signal</h1>  -->

<!-- <h1>Computed Signals</h1> -->
<!-- <h2>{{z()}}</h2>
<button (click)="updateValue()">update Value</button>

<button (click)="updateValue()">update X Value</button> -->
<!-- <h1>{{count()}}</h1>
<button (click)="count.set(count()+1)">Update userName</button>

@if(displayHeading){
<h1 style="background-color: green;">Main Heading</h1>
} -->

<!-- @for(user of users; track user; let e=$even; let o=$odd){ -->
<!-- @if($first || $last){
<h3 style="background-color: green;">This is user No {{$index}}and name is {{user}}</h3>
}@else {
<h3>This is user No {{$index}}and name is {{user}}</h3>
} -->
<!-- 
@if(e){
    <h3 style="background-color: #ddd;">This is user No {{$index}} and name is {{user}}</h3>
}

@if(o){
    <h3 style="background-color: greenyellow;">This is user No {{$index}} and name is {{user}}</h3>
}
}@empty(){
    <h4>No records found</h4>
} -->
    <!-- <input type="text" [(ngModel)]="name" placeholder="enter name">
<h1>{{name}}</h1> -->

<!-- <input type="text"  placeholder="enter name" (input)="changeName($event)">
<h1>{{name}}</h1> -->



<!-- 
<input [(ngModel)]="task" type="text" placeholder="enter task name">
<button (click)="addTask()">Add Task</button>

@for(task of taskList; track task.id){ -->
    <!-- <h1>{{task.name}}</h1> -->
     <!-- <ul class="task-list">
        <li>{{task.id}}</li>
        <li>{{task.name}}</li>
        <li><button (click)="deleteTask(task.id)">Delete</button></li>
     </ul>
} -->



<!-- <h1 style="background-color: red;">Dynamic Style</h1> -->
<!-- <h1 [style.color]="color" [style.fontSize]="fontSizeNormal">Heading Tag</h1>
<h1 [style.fontSize]="zoom ? fontSizeBig : fontSizeNormal" >Heading Tag 2</h1>
<button (click)="zoomToggle()">Zoom Toggle</button>
<h1 [style.fontSize.pt]="size">Heading tag 3</h1> -->
<!-- 
<ul>
    <li *ngFor="let student of student">
{{student}}
    </li>
</ul>

<hr>

<ul>
<li *ngFor="let student of studentData">
{{student.name}}, {{student.age}}, {{student.email}}
</li>
</ul> -->


<!-- <h1 *ngIf="show">Heading 1</h1>
<button (click)="toggle">Toggle Heading</button> -->
<!-- <h1 *ngIf="block==1">Heading 1</h1>

<h1 *ngIf="block==2">Heading 2</h1>

<h1 *ngIf="block==3">Heading 3</h1>


<h1 *ngIf="block==4">Heading 4</h1>

<button (click)="updateBlockVal()">Toggle Heading</button> -->

<!-- <button (click)="loginToggle()" *ngIf="login;else elseBlock">Logout</button>
<ng-template #elseBlock>
<button (click)="loginToggle()">Login</button>
</ng-template> -->

<!-- <button (click)="changeColor('red')">Red Color</button>
<button (click)="changeColor('green')">Green Color</button>
<button (click)="changeColor('blue')">Blue Color</button>
<button (click)="changeColor('pink')">Pink Color</button>
<button (click)="changeColor('yellow')">Yellow Color</button>


<div [ngSwitch]="color">
    <h1 *ngSwitchCase="'red'" style="background-color: red;">Red Color</h1>
<h1 *ngSwitchCase="'green'"  style="background-color: green;">Green Color</h1>
<h1 *ngSwitchCase="'blue'"  style="background-color: blue;">Blue Color</h1>
<h1 *ngSwitchCase="'pink'"  style="background-color: pink;">Pink Color</h1>
<h1 *ngSwitchDefault >Yellow Color</h1>

</div>
 -->