<h1>If Else | Control Flow</h1>

<!-- @if(val==10){

<div style="background-color: orange; height: 200px; width: 200px;">

</div>
} -->

<button (click)="hide()">Hide</button>
<button (click)="show()">Show</button>
<button (click)="toggle()">Toggle</button>
<button (click)="toggle()"> {{
    display? 'hide':'show' }} </button>
@if(display){

<div style="background-color: green; height: 200px; width: 200px;">

</div>
}

<hr>
<button (click)="toggleDivs()">Toggle Divs</button>
@if(displayOneDiv){
<div style="background-color: blue; width: 100px; height: 100px;">

</div>
}
@else{
<div style="background-color: red; width: 100px; height: 100px;">

</div>
}







































<!-- <div>
    <h3 class="count">{{count}}</h3>
    <div>
        <button (click)="handleCounter('minus')"  class="btn bg-red">Decrement</button>
        <button (click)="handleCounter('reset')"  class="btn bg-black">Reset</button>
        <button (click)="handleCounter('plus')" class="btn bg-green">Increment</button>
    </div>
</div> -->
<!-- <h1>Interpolation in Angular</h1> -->
<!-- <h2>{{data+data2}}</h2> -->
<!-- {{name}} -->
<!-- <h1>{{20+10}}</h1>
 <h2>{{'hello'.toUpperCase()}}</h2>
 <h3>{{10==10}}</h3>
 <h2>{{data==data2}}</h2>
 <h1>{{user1.toUpperCase()}}</h1>
 <h1>{{user1==user2}}</h1>
<router-outlet /> -->

<!-- <h1>Angular Component</h1>
<app-login></app-login> -->
<!-- <app-signup></app-signup> -->
<!-- <signup></signup>
<app-profile></app-profile> -->

<!-- <button (click)="otherFunction()">Click me</button> -->
<!-- <h1>Define Data Type</h1>
 <button (click)="sum(100,20)">Sum</button> -->
<!-- <h1>Get and Set Input field Value</h1>
<h2>{{username}}</h2>
<input value="{{username}}" 
(input)="getUserName($event)" 
type="text" 
#userNameField
placeholder="eneter user name">
<br><br>
<button (click)="setUserName()">Set User name</button>
<button (click)="getUserNameWithTemplate(userNameField.value)">Get User name</button>
<button (click)="setUserName()">Set User name</button>
 -->
<!-- <style>
    h2{
        color: orange;
        background-color: #000;
    }

</style>
<hr>
<app-user></app-user>
<hr>
<h1>Style Rules and Option</h1>
<app-profile></app-profile>
<h1>Heading 2</h1>
<h2>Heading Tag 2</h2>
<h2>Apple</h2>
<h3 style="background-color: gold; color: #000; font-size: 50px;">This is Heading 3</h3> -->